/* Everything in this file should start with .mobile */
/* Index */
.mobile #overlay {
    left: unset !important;
    right: 50vw;
}
.mobile { /* override :root for mobile */
    --contact-grid-rows: 3;
    --contact-grid-columns: 2;
    --background-width: auto;
    --background-height: 100vh;
}

/* Projects */
.mobile .project-link {
    min-width: 10vw;
    min-height: 5vh;
}
.mobile .project-image {
    margin-left: 0px;
}
