.photo {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px !important;
    padding: 2px 5%;
}
.photo-image {
    width: 100%;
    border-radius: 10px;
}
.photo-info {
    display: grid;
    margin: 0 5px;
    color: beige;
}
.photo-location {
    grid-row: 1;
}
.photo-date {
    grid-row: 1;
    align-items: end;
    text-align: end;
}